*{margin:0;
  padding:0;}
body{background:#eff0f4;
     height:100%;}
header,footer,#s4{width:100vw;
                  background: #68cdd5;     
                  color:#fff;
                  position:absolute;
                  border:none;}
header{height:6vh;
       line-height:6vh;}
footer{height:8vh;
       line-height:8vh;
       top:25vh;}
#s4{height:8vh;
    line-height:8vh;
    font-size:1.2em;}
span{position:absolute;}
#s1{left:5%;}
#s2,#s4{left:50%;
        transform:translate(-50%,0);}
#s2{font-family:"黑体";
    font-size:1.2em;}
#s3{right:5%;}
input{border:none;
      position:absolute;
      width:100vw-58.5px;
      height:50px;
      left:58.5px;
      outline:none;}
#phone,#i1{top:7vh;}
#ps,#i2{top:16vh;}
img{position:fixed;
    width:58.5px;
    height:50px;
    display:inline-block;}
a{position:absolute;
  top:35vh;
  right:7vw;
  color:#68cdd5;}


